* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    color: white;
}

.container-lg {
    background-color:rgba(199, 18, 18, 0.568);
    padding: 3em;
    margin: 3em auto;
}

.btn {
    display: block;
    margin:1em 0;
}

.card {
    display: inline-block;
    width: 18rem;
}

.card-title{
    color: black;
}