<div class="container-lg">
    <h1>Search for your Favourite GIFs below!</h1>
        
    <hr>
        
    <form action="/search" method="GET">
        <label for="name"></label>
        <input class="form-control" type="text" name="search-term" id="name" size="50" placeholder="Please enter a search term">

        <button type="submit" class="btn btn-light">Submit Request</button>
        
        
    </form>
</div>

